/* styles.css */
body{
    font-family:Helvetica, Arial, sans-serif
  }


.mediterranean,
.otherrecipes {
    background-color: rgb(84, 110, 122);
    color: rgb(189, 189, 189);
}

ul {
  font-size: 24px;
  color: rgb(188, 170, 164);
}