/* styles.css */
body{
    font-family:Helvetica, Arial, sans-serif
  }


.mediterranean,
.otherrecipes {
    background-color: rgb(84, 110, 122);
    color: rgb(189, 189, 189);
}

.headline {
  color: rgb(255, 87, 34);
  background-color: rgb(97, 97, 97);
  text-align: center;
}

.ingredients,
.steps {
  color: rgb(229, 57, 53);
}

.description {
  color: rgb(0, 137, 123);
}

p {
  font-size: 20px;
  text-align: justify;
}

ul li {
  font-size: 22px;
}

li p {
  font-size: 20px;
}